<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.mou.iFollow</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.mou.iFollow.payments</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>iFollow will only upload and share photos you choose.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>iFollow uses to make some features work, personalize content, help people find places and more. You can always change this later in your phone's settings</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>iFollow would like to access your microphone in order to record voice messages and start sharing videos with background sound.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Enables us to save photos and videos you've taken with the app.


Enables us to save photos and videos you've taken with the app.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>iFollow will only upload and share photos you choose.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-Bold_0.ttf</string>
		<string>Lato-Regular_0.ttf</string>
		<string>Lato-Semibold_0.ttf</string>
		<string>Lato-Black.ttf</string>
		<string>yellosun.ttf</string>
		<string>Simplisicky Fill.ttf</string>
		<string>JandaCurlygirlSerif.ttf</string>
		<string>Cream Cake.ttf</string>
		<string>Rightland.otf</string>
		<string>LEMONMILK-MediumItalic.otf</string>
		<string>Gobold Lowplus.otf</string>
		<string>PoetsenOne-Regular.ttf</string>
		<string>Evogria Italic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
